*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
app/build
/captures
/node_modules
*.log
app/
gradle
doc
gradle.properties
gradlew
gradlew.bat
build.gradle
settings.gradle
package-lock.json*
.settings
.classpath
